html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
:root {
  --color-primary: #58c4dc;
  --color-background: #e5eff0;
  --color-text: #010202;
  --color-secondary: #1a3d83;
  --color-accent: #3753d8;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-text);
  padding: 8px 20px;
  color: var(--color-background);
  border-bottom: 1px solid #e5eff086;
}

.logo {
  font-size: 1.5rem;
}

.logo-container {
  display: flex;
  gap: 8px;
}

nav {
  display: flex;
  gap: 16px;
}

.link {
  color: var(--color-background);
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  color: var(--color-primary);
}

.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: var(--color-text);
  color: var(--color-background);
}

.notfound-container h1 {
  font-size: 6rem;
  margin: 0;
  color: var(--color-primary);
}

.notfound-container h2 {
  font-size: 2rem;
  margin: 10px 0;
}

.notfound-container p {
  color: var(--color-primary);
  margin-bottom: 20px;
}

.home-link {
  text-decoration: none;
  background-color: var(--color-primary);
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.home-link:hover {
  background-color: #444b59;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 220px;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}

.sidebar-logo {
  font-size: 1.8rem;
  margin-bottom: 40px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.sidebar-link:hover {
  color: #61dafb;
}

.main-content {
  margin-left: 220px;
  padding: 20px;
}
